/* app/globals.css */
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  /* ein paar sinnvolle Defaults */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
